/* Este es el archivo CSS */
/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilo del título */
h1 {
    text-align: center;
    color: #333333;
}

/* Estilo del formulario */
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del campo de texto */
input {
    width: 200px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
}

/* Estilo del botón */
button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    font-size: 20px;
    
}

.Menu{
    
    background-color: #5ccbf3;
    width: 70px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

/* Estilo de la tabla */
table {
    margin-top: 20px;
    border-collapse: collapse;
    
    
}

/* Estilo de las celdas de la tabla */
td {
    width: 80px;
    height: 40px;
    border: 1px solid #cccccc;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    
  }

        /* Estilo para centrar el contenido de la página */
        .centrar {
            max-width: 960px;
            margin: auto;
        }
        /* Estilo para centrar el título */
        #titulo {
            text-align: center;
        }
        /* Estilo para centrar el párrafo */
        p {
            text-align: center;
        }
        /* Estilo para centrar el input y el botón */
        .formulario {
          display: flex; /* Esto hace que los elementos hijos se alineen en una fila */
          justify-content: center; /* Esto centra los elementos horizontalmente */
        }
        /* Estilo para centrar la tabla */
        #tabla {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        .formulario { display: flex; /* Esto hace que los elementos hijos se alineen en una fila / justify-content: center; / Esto centra los elementos horizontalmente */ }